In [2]:
import pandas as pd
df = pd.read_csv("/Users/mbp/Source/webapp/ForceControlResult/250306_Y72049AB_1000.txt", delimiter="\t")
df = df[['Table', 'Head', 'Target', 'Result']]

In [3]:
grouped = df.groupby(['Table', 'Head', 'Target'])

In [4]:
grouped

In [7]:
df.query("Table==0 and Head==0 and Target==2.8")

       Table  Head  Target    Result
0          0     0     2.8  4.274200
160        0     0     2.8  4.158000
320        0     0     2.8  4.335800
480        0     0     2.8  4.212599
640        0     0     2.8  4.223799
...      ...   ...     ...       ...
34400      0     0     2.8  3.843000
34560      0     0     2.8  4.184599
34720      0     0     2.8  4.204199
34880      0     0     2.8  3.985800
35040      0     0     2.8  4.059999

[220 rows x 4 columns]